[Unit]
Description=Launch worker service
After=network-online.target

[Service]
Type=simple
Environment=REDIS_HOST={{ redis_host }}
Environment=POSTGRESQL_HOST={{ postgresql_host }}
Environment=POSTGRESQL_USER={{ postgresql_user }}
Environment=POSTGRESQL_PASSWORD={{ postgresql_password }}
Environment=POSTGRESQL_PORT=5432
Environment=POSTGRESQL_DB={{ postgresql_db }}
ExecStart=java -jar /home/{{ ansible_user }}/worker/target/worker-jar-with-dependencies.jar
Restart=on-failure

[Install]
WantedBy=multi-user.target
